#tm_builder_outer_content .tm_pb_toggle .tm_pb_toggle_title:before{
	color: $regular_accent_color_1;
}
#tm_builder_outer_content .tm_pb_toggle h5 {
	color: $regular_accent_color_1;
}
#tm_builder_outer_content .tm_pb_module.tm_pb_toggle.tm_pb_toggle_open .tm_pb_toggle_title {
	background-color: $regular_accent_color_2;
}
